<div class="sidebar-global">
    &nbsp;
    <nav>
        <div class="sidebar-elements">
            <span class="sidebar-heading">
                <h4 class="heading">PRODO</h4>
                <hr>
            </span>
            <ul class="nav sidebar-below flex-column">
                <li class="sidebar-item">
                    PROFILE
                </li>
                <li class="sidebar-item">
                    FIND USERS
                </li>
                <li class="sidebar-item">
                    SETTINGS
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="right-components">
    <router-outlet></router-outlet>
</div>
